/*css resets*/
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: antiquewhite;
}

ul,
li {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    color: cadetblue;
}


/*button style*/
.button {
    color: #666;
    background-color: #EEE;
    font-weight: 300;
    font-size: 16px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding: 0 40px;
    margin: 0;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border: none #EEE;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.button-pill {
    border-radius: 200px;
}

.button-action:hover, .button-action:focus, .button-action-flat:hover, .button-action-flat:focus {
    background-color: cadetblue;
    border-color: cadetblue;
    color: #FFF;
}

.button:active, .button.active, .button.is-active {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
    text-decoration: none;
    background-color: #eeeeee;
    border-color: #cfcfcf;
    color: #d4d4d4;
    transition-duration: 0s;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

/*header style*/
header {
    display: flex;
    align-items: center;
}

header > h1 {
    margin-right: auto;
}
