html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/island.jpg);
}

ul,
li {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
